include mixins.pug
style
    include:scss resume.scss

header#heading
    .info
        h1 Zahra Ataei
        span Dietist

        .links
            ul
                li
                    a(href='mailto:zataei7474@gmail.com', target='_blank') #[+i('at')] zataei7474@gmail.com
                li
                    a(href='tel:+46737803546', target='_blank') #[+i('phone')] +46 73-780 35 46
                li
                    +i('map-marker')
                    |
                    | Stockholm, Sweden
            ul
                li
                    a(href='https://www.linkedin.com/in/zahra-ataei-a70660140', target='_blank') #[+i('linkedin')] Zahra Ataei
                li
                    a(href='https://www.instagram.com/atahealth/', target='_blank') #[+i('instagram')] AtaHealth

    .image
        img(src='./avatar.jpg', width=120, height=120)

main
    article#content
        +block('Profil')
            p Positiv och entusiastisk dietist med fem år akademisk utbildning och fem år <br>arbetslivserfarenhet inom nutrition och dietetik. Under min karriär har jag framgångsrikt stött patienter med olika hälsoproblem, vilket har utvecklat min förmåga att tänka kritiskt och hantera olika situationer.<br> Som dietist strävar jag efter att integrera evidensbaserade kunskaper i mitt arbete och har en beprövad förmåga att konsultera och inspirera människor till att anta hälsosamma matvanor och livsstil. Denna passion för främjande av hälsa sträcker sig även till mitt <br> engagemang genom sociala medier, där jag aktivt delar kunskap och råd för att inspirera andra. Jag är pålitlig, anpassbar i olika arbetsmiljö och har stor ansvarskänsla.

        +block('Arbetslivserfarenhet', false)
            +job("Dietist", "Danderyds Sjukhus", "https://www.ds.se/", "Sep, 2022 - Nuvarande", "Stockholm, Sweden")
                p I min roll som dietist arbetar jag med en varierad patientgrupp, inklusive både <br>slutenvårds- och primärvårdspatienter på sjukhus. Mina huvudsakliga arbetsområden omfattar särskilt obesitaskirurgi och infektion.    
            +job("Influencer inom Nutrition och Hälsa", "Instagram", "https://www.instagram.com/atahealth/", "Jul, 2020 - Nuvarande", "Stockholm, Sweden")
                p Jag har skapat sociala mediekonton med syfte att informera och inspirera människor att anta hälsosamma matvanor och livsstilar. Min Instagram-sida, som främst riktar sig till persisktalande individer över hela världen, har nu över 20 000 följare. 
            +job("Nutrition Coach", "AtaHealth (egen företag)", "https://atahealth.co/", "Jul, 2020 - Dec, 2022", "Stockholm, Sweden")
                p Som en frilansare arbetade jag som nutrition coach och kostrådgivare. Jag hjälpte mina clienter att ha hälsosamma livstil och uppnå deras hälsomål.
            +job("Dietist", "Munesi gym", null, "Nov, 2017 - Nov, 2018", "Tehran, Iran")
                p Jag jobbade där som dietist och rådgivare för nybörjare och professionella tränare samt över och underviktiga.

            +job("Dietist", "egen företag", null, "Sep, 2016 - Okt, 2017", "Tehran, Iran")
                p Som ett deltidsjobb har jag jobbat självständigt med gravida och ammande kvinnor, överviktiga och de som lindrade av metabolt syndrom. jag arbetade online och hjälpte många patienter att förbättra deras hälsotillstånd.

        +block('Utbildning', false)
            +job("Dietist Examen", "Kashan University of Medical Sciences", "http://en.kaums.ac.ir/", "Aug, 2014 - Maj, 2018", "Kashan, Iran")
                p En 4 årig utbildning som ingår projekt och ett år praktik. Utbildningen har gett mig djupa kunskaper inom nutrition, diet planering samt nutritionsåtgärd för olika patienter i olika situationer.
            +job("Magister Examen i Nutritionsvetenskap", "Karolinska Institutet", "https://ki.se/", "Aug, 2021 - June, 2022", "Stockholm, Sweden")
                p En 1 årig utbildning som ingår masteruppsats. Programmet har gett mig bred förståelse för kostens roll för människors hälsa, och fördjupad kunskap om den vetenskapliga <br>grunden och forskningsmetoderna inom området. Jag har fått väl godkänt betyg på alla kurser samt på min masterupsats.

        +block('Praktikplatser', false)
            +job("Praktik i olika avdelningar", "Shahid Beheshti Hospital", "http://en.kaums.ac.ir/Default.aspx?PageID=271", "Maj, 2017 - Maj, 2018", "Kashan, Iran")
                ul
                    li Sjukhusmat avdelning
                    li Medicinskt diagnostiskt laboratorium
                    li Barns sjukdom avdelning
                    li Vårdcentral
                    li Lever-, matsmältnings- och bukspottkörteln avdelning
                    li Kardiovaskulär CCU-avdelning
                    li Avdelningen för diabetes och endokrinologi
                    li Kirurgi och ICU
                    li Njuravdelning
                    li Livsmedelsindustrin och kommuner
                p Jag klarade alla praktiker med de bästa betygen.

      

    aside#sidebar
        +block('Kompetenser', false)
            +rateItem('Flexibilitet och anpassningsförmåga')
            +rateItem('Kommunikation')
            +rateItem('Microsoft PowerPoint')
            +rateItem('Kostrådgivning')
            +rateItem('Måltidsplanering')
            +rateItem('föreläsning')
            +rateItem('Diet hantering', null)
            +rateItem('Samarbeta med andra sjukvårdspersonal', null)
            +rateItem('Bedömning klient närings status', null)
            +rateItem('Bedömning av klientnäringsbehov', null)

        +block('Språk', false)
            +rateItem('Svenska: C1', null, 8)
            +rateItem('Engelska: B2', null, 7)
            +rateItem('Persiska: Modersmålstalare', null, 10)

        br
        br
        br
        br
        br
        br


        +block('Hobbies', false)
            +rateItem('Träning', null)
            +rateItem('Att cykla', null)
            +rateItem('Resor', null)
            +rateItem('Camping', null)
            +rateItem('Hiking', null)
            +rateItem('Att blogga', null)
            +rateItem('Bakning och matlagning', null)
            +rateItem('Att prova nya upplevelser', null)
            +rateItem('Att lyssna på podcaster', null)
            +rateItem('Att läsa böcker', null)
            +rateItem('Att umgås med vänner', null)

        //- #repo
            em My resume git repo:
                br
                a(href='https://git.io/f49SC', target='_blank') git.io/f49SC
