include mixins.pug
style
    include:scss resume.scss

header#heading
    .info
        h1 Zahra Ataei
        span Nutritionist and Dietitian

        .links
            ul
                li
                    a(href='mailto:zataei7474@gmail.com', target='_blank') #[+i('at')] zataei7474@gmail.com
                li
                    a(href='tel:+46737803546', target='_blank') #[+i('phone')] +46 73-780 35 46
                li
                    +i('map-marker')
                    |
                    | Stockholm, Sweden
            ul
                li
                    a(href='https://www.linkedin.com/in/zahra-ataei-a70660140', target='_blank') #[+i('linkedin')] Zahra Ataei
                li
                    a(href='https://www.instagram.com/atahealth/', target='_blank') #[+i('instagram')] AtaHealth

    .image
        img(src='./avatar.jpg', width=120, height=120)

main
    article#content
        +block('Summary')
            p As a passionate dietitian and nutritionist, I have gained over five years of education and practical expertise in the field of nutrition and dietetics. At present, I am working as a dietitian at Danderyd hospital in Stockholm.
            p Through my experience of assisting patients with diverse health concerns, I have developed the ability to think critically and handle various situations with expertise. My approach towards work is evidence-based, and I specialize in providing consultation to individuals for leading a healthy lifestyle. My work ethic is grounded in reliability, and I possess a strong sense of responsibility towards my work.
        +block('Experience', false)
            +job("Registered Dietitian", "Danderyd Hospital", "https://www.ds.se/", "Sep, 2022 - Ongoing", "Stockholm, Sweden")
                p In my current position, I collaborate with patients who have various health conditions, focusing primarily on geriatric patients, bariatric surgery patients, and those who require enteral nutrition.

            +job("Social Media Influencer", "social media", "https://www.instagram.com/atahealth/", "Jul, 2020 - Ongoing", "Stockholm, Sweden")
                p Due to my concerns about public health, particularly in developing countries, I have established social media accounts aimed at informing and inspiring individuals to adopt healthy eating habits and lifestyles. My Instagram page, which primarily targets Persian-speaking individuals worldwide, has now amassed a following of over 22,000 individuals.

            +job("Nutrition Coach", "AtaHealth", "https://atahealth.co/", "Jul, 2020 - Dec 2022", "Stockholm, Sweden")
                p Working as a freelancer, I served as a nutrition coach and dietary advisor, assisting my clients in adopting healthy lifestyles and attaining their health objectives.

            +job("Dietitian", "Munesi gym", null, "Nov, 2017 - Nov, 2018", "Tehran, Iran")
                br

            +job("Dietitian", "Freelance", null, "Sep, 2016 - Oct, 2017", "Tehran, Iran")
                p As a part-time occupation, I have worked independently with pregnant and nursing mothers, overweight individuals, and those afflicted with metabolic syndrome. I conducted my services online, allowing me to assist numerous individuals in enhancing their overall well-being.
        +block('Education', false)
            +job("Masters' in Nutrition Science", "Karolinska Institutet", "https://ki.se/", "Aug, 2021 - Jun 2022", "Stockholm, Sweden")
                p A one-year education program that includes a master's thesis has provided me with a comprehensive understanding of the role of nutrition in human health, as well as an in-depth knowledge of the scientific foundations and research methods in the field. I have received excellent grades for all courses and for my master's thesis.

            +job("Bachelors' in Nutrition and Dietetics", "Kashan University of Medical Sciences", "http://en.kaums.ac.ir/", "Aug, 2014 - May, 2018", "Kashan, Iran")
                p A four-year education program that includes projects and one year of practical training has provided me with extensive knowledge in nutrition, diet planning, and nutritional interventions for patients in different situations.

        +block('Courses', false)
            +job("Entrepreneurship Specialization", "Wharton University of Pennsylvania Online", "https://online.wharton.upenn.edu/", "Jan, 2023 - Sep 2023", "wharton Online")
                p Throughout this course, I have gained knowledge and skills related to developing business opportunities, launching start-ups, growth strategies, and financing and profitability in entrepreneurship.
        
        +block('Internships', false)
            +job("various departments", "Shahid Beheshti Hospital", "http://en.kaums.ac.ir/Default.aspx?PageID=271", "May, 2017 - May, 2018", "Kashan, Iran")
                p I have completed internships in various healthcare settings, including hospital food departments, medical diagnostic laboratories, children's disease departments, health centers, liver, digestive and pancreatic departments, cardiovascular CCU departments, diabetes and endocrinology departments, surgery and ICU departments, kidney departments, as well as the food industry and municipalities. I successfully completed all the internships with good grades.

        +block('References', false)
            +job("Dr. Ioannis Ioakeimidis (Senior Researcher)", "Karolinska Institutet", "https://ki.se/", null, null, "from")
                p
                    |e-post:
                    |
                    a(href='mailto:ioannis.ioakimidis@ki.se', target='_blank') ioannis.ioakimidis@ki.se
                //- p
                    |telefon:
                    |
                    a(href='tel:+989133615446', target='_blank') +98 913 361 5446

    aside#sidebar
        +block('Skills', false)
            +rateItem('Flexibility and adaptability')
            +rateItem('Communication')
            +rateItem('Microsoft PowerPoint')
            +rateItem('Nutrition coaching')
            +rateItem('Lifestyle intervention')
            +rateItem('Diet management', null)

        +block('Languages', false)
            +rateItem('Swedish: C1', null, 8)
            +rateItem('English: B2', null, 7)
            +rateItem('Persian: Native', null, 10)

        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br


        +block('Hobbies', false)
            +rateItem('Exercise', null)
            +rateItem('Traveling', null)
            +rateItem('Camping', null)
            +rateItem('Hiking', null)
            +rateItem('Blogging', null)
            +rateItem('Baking and cooking', null)
            +rateItem('Listening to podcasts', null)
            +rateItem('Reading books', null)

        //- #repo
            em My resume git repo:
                br
                a(href='https://git.io/f49SC', target='_blank') git.io/f49SC
