include mixins.pug
style
    include:scss resume.scss

header#heading
    .info
        h1 Zahra Ataei
        span Dietist

        .links
            ul
                li
                    a(href='mailto:zataei7474@gmail.com', target='_blank') #[+i('at')] zataei7474@gmail.com
                li
                    a(href='tel:+46737803546', target='_blank') #[+i('phone')] +46 73-780 35 46
                li
                    +i('map-marker')
                    |
                    | Stockholm, Sweden
            ul
                li
                    a(href='https://www.linkedin.com/in/zahra-ataei-a70660140', target='_blank') #[+i('linkedin')] Zahra Ataei
                li
                    a(href='https://www.instagram.com/atahealth/', target='_blank') #[+i('instagram')] AtaHealth

    .image
        img(src='./avatar.jpg', width=120, height=120)

main
    article#content
        +block('Profil')
            p Positiv och entusiastisk dietist med mer än fem år utbildning och erfarenhet inom nutrition och dietetik. Jag har hjälpt patienter med olika hälsoproblem som denna erfarenhet har gett mig förmågan att tänka kritiskt för att hantera olika situationer. Som en dietist tar jag alltid beslut enligt NCP och är väldigt noggrann att dokumentera dess olika delarna. Jag följer de evidensbaserade kunskaper inom yrket samt är skicklig att konsultera och inspirera människor att ha hälsosamma matvanor och livsstil, som jag gör det nu genom sociala medier. Jag är pålitlig, anpassbar i olika arbetsmiljö och har stor ansvarskänsla.
            
        +block('Arbetslivserfarenhet', false)
            +job("Nutrition Coach", "social media", "https://www.instagram.com/atahealth/", "Jul, 2020 - Nuvarande", "Stockholm, Sweden")
                p Som ett frivilligarbete skapar jag innehåll på Instagram och har framgångsrik erfarenhet att rådgivning och inspirera människor att ha hälsosamma matvanor. Min sida har nu mer än 10,000 följare som mest av de är persisktalande som bor inom Sverige eller andra EU-länder.

            +job("Dietist", "Munesi gym", null, "Nov, 2017 - Nov, 2018", "Tehran, Iran")
                p Jag jobbade där som dietist och rådgivare för nybörjare och professionella tränare samt över och underviktiga.

            +job("Dietist", "egen företag", null, "Sep, 2016 - Okt, 2017", "Tehran, Iran")
                p Som ett deltidsjobb har jag jobbat självständigt med gravida och ammande kvinnor, överviktiga och de som lindrade av metabolt syndrom. jag arbetade online och hjälpte många patienter att förbättra deras hälsotillstånd.

        +block('Utbildning', false)
            +job("Dietist Examen", "Kashan University of Medical Sciences", "http://en.kaums.ac.ir/", "Aug, 2014 - Maj, 2018", "Kashan, Iran")
                p En 4 årig utbildning som ingår projekt och ett år praktik. Utbildningen har gett mig djupa kunskaper inom nutrition, diet planering samt nutritionsåtgärd för olika patienter i olika situationer.

        +block('Praktikplatser', false)
            +job("Praktik i olika avdelningar", "Shahid Beheshti Hospital", "http://en.kaums.ac.ir/Default.aspx?PageID=271", "Maj, 2017 - Maj, 2018", "Kashan, Iran")
                ul
                    li Sjukhusmat avdelning
                    li Medicinskt diagnostiskt laboratorium
                    li Barns sjukdom avdelning
                    li Vårdcentral
                    li Lever-, matsmältnings- och bukspottkörteln avdelning
                    li Kardiovaskulär CCU-avdelning
                    li Avdelningen för diabetes och endokrinologi
                    li Kirurgi och ICU
                    li Njuravdelning
                    li Livsmedelsindustrin och kommuner
                p Jag klarade alla praktiker med de bästa resultaten.

        +block('Refrenser', false)
            +job("Dr. Zatollah Asemi (Docent)", "Kashan University of Medical Sciences", "http://en.kaums.ac.ir/", null, null, "från")
                p
                    |e-post:
                    |
                    a(href='mailto:asemi_r@yahoo.com', target='_blank') asemi_r@yahoo.com
                //- p
                    |telefon:
                    |
                    a(href='tel:+989133615446', target='_blank') +98 913 361 5446

    aside#sidebar
        +block('Kompetenser', false)
            +rateItem('Flexibilitet och anpassningsförmåga')
            +rateItem('Kommunikation')
            +rateItem('Microsoft PowerPoint')
            +rateItem('Kostrådgivning')
            +rateItem('Måltidsplanering')
            +rateItem('Livsstil intervention')
            +rateItem('Diet hantering', null)
            +rateItem('Samarbeta med andra sjukvårdspersonal', null)
            +rateItem('Bedömning klient närings status', null)
            +rateItem('Bedömning av klientnäringsbehov', null)

        +block('Språk', false)
            +rateItem('Svenska: C1', null, 8)
            +rateItem('Engelska: B2', null, 7)
            +rateItem('Persiska: Modersmålstalare', null, 10)

        br
        br
        br
        br
        br
        br


        +block('Hobbies', false)
            +rateItem('Träning', null)
            +rateItem('Att cykla', null)
            +rateItem('Resor', null)
            +rateItem('Camping', null)
            +rateItem('Hiking', null)
            +rateItem('Att blogga', null)
            +rateItem('Bakning och matlagning', null)
            +rateItem('Att prova nya upplevelser', null)
            +rateItem('Att lyssna på podcaster', null)
            +rateItem('Att läsa böcker', null)
            +rateItem('Att läsa vetenskapliga artiklar', null)

        //- #repo
            em My resume git repo:
                br
                a(href='https://git.io/f49SC', target='_blank') git.io/f49SC
