include mixins.pug
style
    include:scss resume.scss

header#heading
    .info
        h1 Zahra Ataei
        span Nutritionist and Dietitian

        .links
            ul
                li
                    a(href='mailto:zataei7474@gmail.com', target='_blank') #[+i('at')] zataei7474@gmail.com
                li
                    a(href='tel:+46737803546', target='_blank') #[+i('phone')] +46 73-780 35 46
                li
                    +i('map-marker')
                    |
                    | Stockholm, Sweden
            ul
                li
                    a(href='https://www.linkedin.com/in/zahra-ataei-a70660140', target='_blank') #[+i('linkedin')] Zahra Ataei
                li
                    a(href='https://www.instagram.com/atahealth/', target='_blank') #[+i('instagram')] AtaHealth

    .image
        img(src='./avatar.jpg', width=120, height=120)

main
    article#content
        +block('Summary')
            p I am an enthusiastic dietitian with more than five years of education and experience in nutrition and dietetics. Currently studying Master's in Nutrition Science at Karolinska Institutet.
            p I have helped patients with various health problems. This experience has given me the ability to think critically to deal with different situations. I work based on scientific evidence, and I am skilled at consulting people to have healthy lifestyles. Reliability and having a great sense of responsibility are my strengths at work.

        +block('Experience', false)
            +job("Nutrition Coach", "social media", "https://www.instagram.com/atahealth/", "Jul, 2020 - Ongoing", "Stockholm, Sweden")
                p As I have concerns about public health issues, especially in developing counties, I have created social media pages to inform, consult, and inspire people to have healthy eating habits and lifestyles. My page on Instagram now has more than 10,000 followers, mostly Persian-speaking living around the world.

            +job("Dietitian", "Munesi gym", null, "Nov, 2017 - Nov, 2018", "Tehran, Iran")
                p I worked there as a dietitian and consultant for beginners and professional trainers as well as obese and overweight people.

            +job("Dietitian", "Freelance", null, "Sep, 2016 - Oct, 2017", "Tehran, Iran")
                p I have worked independently with pregnant and nursing mothers, overweight people, and those with metabolic syndrome as a part-time job. I worked online and was able to assist many individuals in improving their health.

        +block('Education', false)
            +job("Masters' in Nutrition Science", "Karolinska Institutet", "https://ki.se/", "Aug, 2021 - Ongoing", "Stockholm, Sweden")
                p
            +job("Bachelors' in Nutrition and Dietetics", "Kashan University of Medical Sciences", "http://en.kaums.ac.ir/", "Aug, 2014 - May, 2018", "Kashan, Iran")
                p

        +block('Internships', false)
            +job("various departments", "Shahid Beheshti Hospital", "http://en.kaums.ac.ir/Default.aspx?PageID=271", "May, 2017 - May, 2018", "Kashan, Iran")
                ul
                    li Hospital's food department
                    li Medical diagnostic laboratory
                    li Children's disease department
                    li Health center
                    li Liver, Digestive and Pancreatic Department
                    li Cardiovascular CCU Department
                    li Department of Diabetes and Endocrinology
                    li Surgery and ICU
                    li Kidney department
                    li The food industry and municipalities
                p I have passed all the practices with good grades.

        +block('References', false)
            +job("Dr. Zatollah Asemi (Professor)", "Kashan University of Medical Sciences", "http://en.kaums.ac.ir/", null, null, "from")
                p
                    |e-post:
                    |
                    a(href='mailto:asemi_r@yahoo.com', target='_blank') asemi_r@yahoo.com
                //- p
                    |telefon:
                    |
                    a(href='tel:+989133615446', target='_blank') +98 913 361 5446

    aside#sidebar
        +block('Skills', false)
            +rateItem('Flexibility and adaptability')
            +rateItem('Communication')
            +rateItem('Microsoft PowerPoint')
            +rateItem('Nutrition coaching')
            +rateItem('Lifestyle intervention')
            +rateItem('Diet management', null)
            +rateItem('Collaboration with other healthcare professionals', null)
            +rateItem('Nutrition status assessment', null)
            +rateItem('Nutrition needs assessment', null)

        +block('Languages', false)
            +rateItem('Swedish: C1', null, 8)
            +rateItem('English: B2', null, 7)
            +rateItem('Persian: Native', null, 10)

        br
        br
        br
        br
        br
        br
        br
        br
        br
        br


        +block('Hobbies', false)
            +rateItem('Exercise', null)
            +rateItem('Cycling', null)
            +rateItem('Traveling', null)
            +rateItem('Camping', null)
            +rateItem('Hiking', null)
            +rateItem('Blogging', null)
            +rateItem('Baking and cooking', null)
            +rateItem('Listening to podcasts', null)
            +rateItem('Reading books', null)
            +rateItem('Reading scientific articles', null)

        //- #repo
            em My resume git repo:
                br
                a(href='https://git.io/f49SC', target='_blank') git.io/f49SC
