include mixins.pug
head
    meta(charset="UTF-8")
    style
        include:scss resume.scss

body.rtl
    header#heading
        .info
            h1 زهرا عطائی
            span کارشناس و مشاور تغذیه و رژیم درمانی
            br
            small عضو انجمن علمی تغذیه ایران

            .links
                ul
                    li
                        a(href='mailto:zataei7474@gmail.com', target='_blank') #[+i('at')] zataei7474@gmail.com
                    li
                        a(href='tel:+989378810929', target='_blank') #[+i('phone')] 09378810929
                    li
                        +i('map-marker')
                        |
                        | تهران

        .image
            img(src='./avatar.jpg', width=120, height=120)

    main
        article#content
            +block('')
                p اینجانب زهرا عطائی، فارغ التحصیل رشته علوم تغذیه و رژیم درمانی از دانشگاه علوم پزشکی کاشان، بر آنم تا با هدف ارتقاء سلامت در جامعه و خدمت به مراجعین در حوزه بالین، ضمن تلاش برای افزایش سطح آگاهی همگانی در زمینه تغذیه صحیح و اصولی، به کارآفرینی در زمینه رژیم درمانی نوین بپردازم.
                //| همچنین علاقمه‌مندم ضمن فعالیت در زمینه بالین، با انجام کار های تحقیقاتی در حوزه های مختلف تغذیه و رژیم درمانی، به بروزرسانی دانش خود در این زمینه کمک کنم.

            +block('سوابق شغلی', false)
                +job("مشاور تغذیه و رژیم درمانی", "مجموعه باشگاه های ورزشی مونسی", null, "فروردین ۱۳۹۷ - تاکنون", "تهران")
                +job("مشاور تغذیه و رژیم درمانی", "رژیم درمانی آنلاین", null, "شهریور ۱۳۹۶ - اسفند ۱۳۹۶ (حین تحصیل)", "کاشان")
                +job("مشاور تغذیه و رژیم درمانی", "گروه درمانی قاصدک", null, "مهر ۱۳۹۵ - آذر ۱۳۹۵ (حین تحصیل)", "اصفهان")

            +block('تحصیلات', false)
                +education("کارشناسی علوم تغذیه و رژیم درمانی", "دانشگاه علوم پزشکی کاشان", "http://kaums.ac.ir/", "۱۳۹۳ - ۱۳۹۷", "کاشان")

            +block('تحقیقات', false)
                p ارائه در سمینار با موضوع اثر مکمل یاری منیزیم در مادران باردار مبتلا به پره اکلمپسی - ۱۳۹۶ - دانشگاه علوم پزشکی کاشان
                p طرح تحقیقاتی با موضوع بررسی ارتباط سلامت معنوی و میزان درد در بیماران مبتلا به سرطان تحت شیمی درمانی - ۱۳۹۷ - دانشگاه علوم پزشکی کاشان

        aside#sidebar
            +block('مهارت ها', false)
                ul
                    li رژیم درمانی در کاهش و افزایش وزن
                    li رژیم درمانی در مادران باردار و شیرده
                    li رژیم درمانی در کودکان، نوجوانان و سالمندان
                    li ارائه برنامه غذایی به ورزشکاران
                    li رژیم درمانی در بیماری های دیابت، کلیوی، کبدی، گوارشی، سرطان و...
